h3 {
    text-align: center;
    font-size: 15pt;
}

.borde {
    background: rgba(179, 178, 178, 0.74);
    border-radius: 10px; 
    margin: 18px;
}

.centrar {
    text-align: center;
}

.titleLabel {
    text-align: center;
}
