<nav #navbar class="navbar static " role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home">
      <img src="/assets/img/navbar/logonav.jpg" width="120" height="28">
    </a>

    <a #closeBtn role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div #navbarCollapse id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home" (click)="collapseNavbar()">
        Home
      </a>

      <a class="navbar-item" routerLink="home" (click)="collapseNavbar()">
        Acerca de
      </a>

      <!-- Mostrar si el usuario es un propietario/restaurant -->
      <div *ngIf="wichUser=='restaurant'" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" (click)="collapseNavbar()">
          Mi cuenta
        </a>

        <div class="navbar-dropdown">
          <!-- Arreglar bug routerLink() -->
          <a class="navbar-item  cerrarMenu "routerLink="mypromos" (click)="collapseNavbar()">
            Mis promos
          </a>
          <!-- Arreglar bug routerLink() -->
          <a class="navbar-item cerrarMenu" routerLink="newpromo" (click)="collapseNavbar()">
              Crear nueva promocion
            </a>
            <!-- Arreglar bug routerLink() -->
          <a class="navbar-item cerrarMenu" routerLink="profile" (click)="collapseNavbar()">
            Mis datos
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Reporta un error
          </a>
        </div>
      </div>

      <!-- Mostrar si el usuario es un admin -->
      <div *ngIf="wichUser=='admin'" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" (click)="collapseNavbar()">
         Admin
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" (click)="collapseNavbar()">
            Lista de Negocios
          </a>
          
          <a class="navbar-item" (click)="collapseNavbar()">
            Lista de Restaurants
          </a>
          <a class="navbar-item" (click)="collapseNavbar()">
            Asignaciones
          </a>
        </div>
      </div>

      <!-- Mostrar si el usuario es un consumidor -->
      <div *ngIf="wichUser=='user'" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" (click)="collapseNavbar()">
          Mi cuenta
        </a>

        <div class="navbar-dropdown" (click)="collapseNavbar()">
          <a class="navbar-item">
            Lista de Favoritos
          </a>
        </div>
      </div>
      
      <!-- Mostrar si el usuario es un invitado (default)-->
      <div *ngIf="wichUser=='invited'" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link" (click)="collapseNavbar()">
          Mas
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item" (click)="collapseNavbar()">
            Nosotros
          </a>
          
          <a class="navbar-item" (click)="collapseNavbar()">
            Contacto
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" (click)="collapseNavbar()">
            Reporta un error
          </a>
        </div>
      </div>


    </div>

    <div class="navbar-end">
      <div class="navbar-item">

        <div class="buttons" *ngIf="isloged!=true; else logout">
          <a id="loginbtn" class="button is-primary " routerLink="/registerRestaurant" (click)="collapseNavbar()">
            <strong>Registrate</strong>
          </a>
          
          <div class="navbar-item has-dropdown is-hoverable">
            <a id="registerbtn" class="navbar-link button is-primary" (click)="collapseNavbar()">
              Inicia Sesion
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item button log" routerLink="/loginRestaurant" (click)="collapseNavbar()">
                Como Restaurant
              </a>
              <a class="navbar-item button log " (click)="collapseNavbar()"> 
                Como Consumidor
              </a>
              <a class="navbar-item button log" routerLink="/loginAdmin" (click)="collapseNavbar()">
                  Como Admin
                </a>
            </div>
          </div>
        </div>
        <ng-template #logout>
            <div class="navbar-item has-dropdown is-hoverable">
                <a id="loginbtn" class=" button" (click)="logOut()" (click)="collapseNavbar()">
                  Cerrar Sesion
                </a>
              </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>