<nav #navbar class="navbar static " role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" routerLink="/home">
      <img src="/assets/img/navbar/logonav.jpg" width="120" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" routerLink="/home">
        Home
      </a>

      <a class="navbar-item">
        Acerca de
      </a>

      <!-- Mostrar si el usuario es un restaurant -->
      <div *ngIf="wichUser=='restaurant'" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Mi cuenta
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Mis promociones
          </a>
          <a class="navbar-item" routerLink="/registerPromo">
              Crear nueva promocion
            </a>
          <a class="navbar-item">
            Mis datos
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Reporta un error
          </a>
        </div>
      </div>

      <!-- Mostrar si el usuario es un admin -->
      <div *ngIf="wichUser=='admin'" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Admin, Feel de Power !!!!
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Lista de Negocios
          </a>
          
          <a class="navbar-item">
            Lista de Restaurants
          </a>
          <a class="navbar-item">
            Asignaciones
          </a>
        </div>
      </div>

      <!-- Mostrar si el usuario es un consumidor -->
      <div *ngIf="wichUser=='user'" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Mi cuenta
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Lista de Favoritos
          </a>
        </div>
      </div>
      
      <!-- Mostrar si el usuario es un invitado (default)-->
      <div *ngIf="wichUser=='invited'" class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          Mas
        </a>

        <div class="navbar-dropdown">
          <a class="navbar-item">
            Nosotros
          </a>
          
          <a class="navbar-item">
            Contacto
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item">
            Reporta un error
          </a>
        </div>
      </div>


    </div>

    <div class="navbar-end">
      <div class="navbar-item">

        <div class="buttons" *ngIf="isloged!=true; else logout">
          <a id="loginbtn" class="button is-primary " routerLink="/registerRestaurant">
            <strong>Registrate</strong>
          </a>
          
          <div class="navbar-item has-dropdown is-hoverable">
            <a id="registerbtn" class="navbar-link button is-primary">
              Inicia Sesion
            </a>
            <div class="navbar-dropdown">
              <a class="navbar-item button log" routerLink="/loginRestaurant">
                Como Restaurant
              </a>
              <a class="navbar-item button log">
                Como Consumidor
              </a>
              <a class="navbar-item button log" routerLink="/loginAdmin">
                  Como Admin
                </a>
            </div>
          </div>
        </div>
        <ng-template #logout>
            <div class="navbar-item has-dropdown is-hoverable">
                <a id="loginbtn" class=" button" (click)="logOut()">
                  Cerrar Sesion
                </a>
              </div>
        </ng-template>
      </div>
    </div>
  </div>
</nav>