<div class="container">
   <div class="notification" *ngFor="let promo of promotions">
      <div class="card">

         <header class="card-header">
            <p class="card-header-title">
               Nombre de la promocion: {{promo.name}}
            </p>

         </header>
         <div class="card-content">
            <div class="content">
               <div class="columns is-desktop">
                  <div class="column">
                     <div class="card-image">
                        <figure class="image is-5by3">
                           <img [src]="imageToShow" alt="Placeholder image">
                        </figure>
                     </div>
                  </div>
                  <div class="column">Descuento {{promo.discount}} %</div>
                  <div class="column">Restricciones: {{promo.restrictions}}
                  </div>
                  <div class="column">likes: {{promo.likes}}
                  </div>
                  <div class="column">reports: {{promo.numberReports}}
                  </div>
                  <div class="column"><time datetime="2019-1-1">Dia disponible:
                        <strong>{{promo.availableDay}}</strong> {{promo.date}}
                        {{promo.month}} 2019 </time> </div>
               </div>



            </div>
         </div>
         <footer class="card-footer">

            <a class="card-footer-item" (click)="openModalEdit(this.promo)">Edit</a>
            <a class="card-footer-item" (click)="openModal(promo.id)">Delete</a>
         </footer>
      </div>
   </div>

   <div #modal class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
         <header class="modal-card-head">
            <p class="modal-card-title">Confirmar</p>
            <button class="delete" aria-label="close" (click)="closeModal()"></button>
         </header>
         <section class="modal-card-body">
            <h2>Desea eliminar este elemento, esta accion no se puede regresar</h2>
         </section>
         <footer class="modal-card-foot">
            <button class="button is-success" (click)="delete()">Eliminar</button>
            <button class="button" (click)="closeModal()">Cancelar</button>
         </footer>
      </div>
   </div>

   <div #editPromoModal class="modal">
      <div class="modal-background"></div>
      <div class="modal-card">
         <header class="modal-card-head">
            <p class="modal-card-title">Editar Promocion</p>
            <button class="delete" aria-label="close" (click)="closeModal()"></button>
         </header>
         <section class="modal-card-body">
            <div class="container" id="col1">
               <form [formGroup]="editForm" (ngSubmit)="update()" novalidate>
                  <!-- Name -->
                  <div class="field is-horizontal">
                     <div class="field-label is-normal">
                        <label class="label">Nombre de la promocion</label>
                     </div>
                     <div class="field-body">
                        <div class="field">
                           <p class="control is-expanded has-icons-left">
                              <input class="input" type="text"
                                 placeholder="Nombre de la promocion"
                                 formControlName="name">
                              <span class="icon is-small is-left">
                                 <i class="fa fa-briefcase"></i>
                              </span>
                           </p>
                        </div>
                        <div *ngIf="editForm.get('name').errors &&
                           editForm.get('name').dirty">
                           <p
                              *ngIf="editForm.get('name').hasError('required')">Este
                              campo debe ser obligatorio</p>
                        </div>
                     </div>
                  </div>

                  <!-- Descuento -->
                  <div class="field is-horizontal">
                     <div class="field-label is-normal">
                        <label class="label">Descuento</label>
                     </div>
                     <div class="field-body">
                        <div class="field">
                           <p class="control is-expanded has-icons-left">
                              <input class="input" type="text" placeholder="%
                                 desc." formControlName="discount">
                              <span class="icon is-small is-left">
                                 <i class="fas fa-dollar-sign"></i>
                              </span>
                           </p>
                        </div>
                        <div *ngIf="editForm.get('name').errors &&
                           editForm.get('name').dirty">
                           <p
                              *ngIf="editForm.get('name').hasError('required')">Este
                              campo debe ser obligatorio</p>
                        </div>
                     </div>
                  </div>

                  <div class="field is-horizontal">
                     <div class="field-label is-normal">
                        <label class="label">Caducidad:</label>
                     </div>
                     <div class="field-label is-normal">
                        <label class="label">Inicio</label>
                     </div>
                     <div class="field-body">
                        <div class="field">
                           <p class="control is-expanded has-icons-left">
                              <input type="date">
                           </p>
                        </div>
                     </div>
                     <div class="field-label is-normal">
                        <label class="label">Fin</label>
                     </div>
                     <div class="field-body">
                        <div class="field">
                           <p class="control is-expanded has-icons-left">
                              <input type="date">
                           </p>
                        </div>
                     </div>
                  </div>
                  <!-- ESPECIFIC PROMO DAY -->
                  <div class="field is-horizontal">
                     <div class="field-label is-normal">
                        <label class="label">Promocion valida para el dia</label>
                     </div>
                     <div class="field-body">
                        <div class="field is-narrow">
                           <div class="control">
                              <div class="select is-fullwidth">
                                 <select formControlName="availableDay">
                                    <option value="0">Selecciona una opción</option>
                                    <option *ngFor="let day of days">
                                       {{day}}
                                    </option>
                                 </select>

                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- Image and restriccions column -->
                  <div class="columns">
                     <div id="xddd" class="column is-two-fifths is-desktop">
                        <div class="round-button">

                           <image-upload
                              (uploadFinished)="onUploadFinish($event)">
                           </image-upload>

                        </div>
                     </div>

                     <!-- Restriccions column -->
                     <div class="column is-four-fifths- is-four-fifths-
                        is-four-fifths- is-one-fifth- is-one-third-">
                        <div class="field is-horizontal">
                           <div class="field-label is-normal">
                              <label class="label">Restricciones</label>
                           </div>
                           <div class="field-body">
                              <div class="field">
                                 <div class="control">
                                    <textarea class="textarea"
                                       placeholder="Menciona algunas
                                       restricciones para el consumidor"
                                       formControlName="restrictions"></textarea>
                                 </div>
                              </div>
                           </div>
                        </div>

                     </div>
                  </div>

                  <footer class="modal-card-foot">

                     <button [disabled]="editForm.invalid" type="submit"
                        class="button" (click)="closeModal()"> <i class="fas
                           fa-check"></i>Actualizar</button>
                     <button class="button" (click)="closeModal()"><i class="fas
                           fa-ban"></i>Cancelar</button>
                  </footer>

               </form>
            </div>
         </section>

      </div>
   </div>
</div>
