<div class="main">
  <div class="title">
    <div class="columns">
      <div id="title1" class="column is-half-desktop">Alerta</div>
      <div id="title2" class="column is-half-desktop">Cochi</div>
    </div>
    <div class="columns is-centered">
        <div class="column is-half">
            <input id="buscador" class="input is-primary is-large is-rounded" type="text" placeholder="Busca tu ciudad">
          <!-- <form>
            <div class="form-group input-group">
                <input type="text" id="search_location" class="form-control" placeholder="Search location">
                <div class="input-group-btn">
                    <button class="btn btn-default get_map" type="submit">
                        Locate
                    </button>
                </div>
              </div>
            </form>
            <div id="geomap"></div> -->

        </div>
    </div>
  </div>
  
</div>