<div class="columns is-mobile is-centered">
  <div id="col1" class="column is-half is-four-fifths">

    <div class="columns">
      <div id="col2" class="column is-four-fifths">
        <!-- //metodo para logearse -->
        <form [formGroup]="registerForm" (ngSubmit)="registrar()" novalidate>
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Nombre del negocio</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="Nombre del
                    negocio" formControlName="name">
                  <span class="icon is-small is-left">
                    <i class="fas fa-briefcase"></i>
                  </span>
                </p>
              </div>
              <div *ngIf="registerForm.get('name').errors &&
                registerForm.get('name').dirty">
                <p *ngIf="registerForm.get('name').hasError('required')">Este
                  campo debe ser obligatorio</p>
              </div>
            </div>
          </div>


          <!-- email -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Email</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="email"
                    formControlName="email">
                  <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
              <div *ngIf="registerForm.get('name').errors &&
                registerForm.get('name').dirty">
                <p *ngIf="registerForm.get('name').hasError('required')">Este
                  campo debe ser obligatorio</p>
              </div>
            </div>
          </div>
          <!-- facebook -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Facebook</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="facebook"
                    formControlName="facebook">
                  <span class="icon is-small is-left">
                    <i class="fab fa-facebook-square"></i>
                  </span>
                </p>
              </div>
              <div *ngIf="registerForm.get('name').errors &&
                registerForm.get('name').dirty">
                <p *ngIf="registerForm.get('name').hasError('required')">Este
                  campo debe ser obligatorio</p>
              </div>
            </div>
          </div>

          <!-- instagram -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Instagram</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="instagram"
                    formControlName="instagram">
                  <span class="icon is-small is-left">
                    <i class="fab fa-instagram"></i>
                  </span>
                </p>
              </div>
              <div *ngIf="registerForm.get('name').errors &&
                registerForm.get('name').dirty">
                <p *ngIf="registerForm.get('name').hasError('required')">Este
                  campo debe ser obligatorio</p>
              </div>
            </div>
          </div>

          <!-- WhatsApp -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">WhatsApp</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="whatsapp"
                    formControlName="whatsapp">
                  <span class="icon is-small is-left">
                    <i class="fab fa-whatsapp"></i>
                  </span>
                </p>
              </div>
              <div *ngIf="registerForm.get('name').errors &&
                registerForm.get('name').dirty">
                <p *ngIf="registerForm.get('name').hasError('required')">Este
                  campo debe ser obligatorio</p>
              </div>
            </div>
          </div>
          <!-- Numero telefonico -->
          <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
              <div class="field is-expanded">
                <div class="field has-addons">
                  <p class="control">
                    <a class="button is-static">
                      +52
                    </a>
                  </p>
                  <p class="control is-expanded">
                    <input class="input" type="number" placeholder="Numero
                      telefonico" formControlName="phone">
                  </p>
                </div>
                <p class="help">Do not enter the first zero</p>
                <div *ngIf="registerForm.get('phone').errors &&
                  registerForm.get('phone').dirty">
                  <p *ngIf="registerForm.get('phone').hasError('required')">Este
                    campo debe ser obligatorio</p>
                  <p *ngIf="registerForm.get('phone').hasError('minlength')">Ingrese
                    un numero valido, minimo 6 numeros
                  </p>
                </div>
              </div>
            </div>
          </div>

          <!-- homeService -->
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">Servicio a domicilio</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <label class="switch">
                  <input type="checkbox" name="houseservice"
                    formControlName="homeService" (click)="setservice()">
                  <div class="slider round"></div>
                </label>
              </div>
            </div>
          </div>


          <!-- Ubicacion -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Ubicacion</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="Direccion"
                      formControlName="address">
                    <span class="icon is-small is-left">
                      <i class="fa fa-building"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="field is-horizontal">

            <div class="field-body">
              <div class="field">
                <div class="control">
                  <button type="submit" [disabled]="registerForm.invalid"
                    class="button is-primary">
                    <span class="icon is-small">
                      <i class="fas fa-check"></i>
                    </span>
                    <span>Crear negocio</span>
                  </button>
                  <button routerLink="/homeAdmin" class="button is-danger">
                    <span class="icon is-small">
                      <i class="fas fa-delete"></i>
                    </span>
                    <span >Cancelar </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

    </div>

  </div>
</div>