<div class="backg">
  <div class="container" id="contenedor-formulario-flex">
    <div class="general">
      <div class="contenedor-color">
        <figure class="image is-128x128 fijarcentro">
          <img class="is-rounded" src="../../../assets/img/login/logo1.jpg ">
        </figure>
        <form [formGroup]="loginForm" (ngSubmit)="test()" novalidate>
          <label class="label iniciar">Inicia Sesión</label>
          <!-- <div>
            <p>Mensaje de error</p>
          </div> -->
          <div class="field ">
            <label class="label colour">Correo Electrónico</label>
            <p class="control has-icons-left has-icons-right">
              <input class="input" type="email" placeholder="Inrese su correo electrónico" formControlName="email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </p>
            <div *ngIf="loginForm.get('email').errors && loginForm.get('email').dirty">
              <p *ngIf="loginForm.get('email').hasError('required')">Este campo debe ser obligatorio</p>
              <p *ngIf="loginForm.get('email').hasError('email')"> Ingrese formato de correo válido</p>
            </div>
          </div>
          <div class="field">
            <label class="label colour">Contraseña</label>
            <p class="control has-icons-left">
              <input class="input" type="password" placeholder="Contraseña" formControlName="password" appAppPassword>
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
            <div *ngIf="loginForm.get('password').errors && loginForm.get('password').dirty">
              <p *ngIf="loginForm.get('password').hasError('required')">Este campo debe ser obligatorio</p>
            </div>
          </div>
          <div class="field">
            <p class="control centrao">
              <button type="submit" [disabled]="loginForm.invalid" class="button is-white center">
                Iniciar Sesión
              </button>
            </p>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>