<div class="backg">
    <div class="container">
        <h2>Restaurants</h2>
        <br>
        <div class="container">
            <div class="field is-horizontal">
                <div class="field">
                    <div class="control has-icons-left">
                        <div class="select is-info">
                            <select>
                                <option selected>Estados</option>
                                <option *ngFor="let estado of estados">
                                    {{estado}}
                                </option>
                            </select>
                        </div>
                        <div class="icon is-small is-left">
                            <i class="fas fa-globe"></i>
                        </div>
                    </div>
                </div>
                &nbsp;
                <div class="field">
                    <div class="control has-icons-left">
                        <div class="select is-info">
                            <select>
                                <option selected>Ciudades</option>
                                <option *ngFor="let ciudad of ciudades">
                                    {{ciudad}}
                                </option>
                            </select>
                        </div>
                        <div class="icon is-small is-left">
                            <i class="fas fa-city"></i>
                        </div>
                    </div>
                </div>
                &nbsp;
                <a class="button is-link" (click)="searchBussiness()">Buscar</a>
            </div>


            <table class="table">
                <thead>
                    <tr>
                        <th>Restaurants</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th *ngFor="let item of negocios">
                            <p>ID: {{item.id}} </p>
                            <p>Negocio: {{item.name}} </p>
                            <p>Email: {{item.email}} </p>
                            <p>Ciudad: {{item.ciudad}} </p>
                            <p>Estado: {{item.estado}} </p>
                        </th>
                        <th><a class="button is-primary" routerLink="/registerPromo">Crear Promo</a></th>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>