<div class="columns is-mobile is-centered col">
  <div id="col1" class="column is-half is-four-fifths">
    
    <!-- Form column -->
    <div class="columns">
        <div id="col2" class="column is-four-fifths ">
          <form [formGroup] ="registerForm" (ngSubmit)="test()" novalidate>
              
            <!-- Name -->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Nombre de la promocion</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="Nombre del negocio"  formControlName="name">
                    <span class="icon is-small is-left">
                      <i class="fas fa-user"></i>
                    </span>
                  </p>
                </div>
                <div *ngIf="registerForm.get('name').errors && registerForm.get('name').dirty">
                    <p *ngIf="registerForm.get('name').hasError('required')">Este campo debe ser obligatorio</p>
                  </div>
              </div>
            </div>

            <!-- Descuento -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Descuento</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <p class="control is-expanded has-icons-left">
                      <input class="input" type="text" placeholder="% desc."  formControlName="desc">
                      <span class="icon is-small is-left">
                          <i class="fas fa-dollar-sign"></i>
                      </span>
                    </p>
                  </div>
                  <div *ngIf="registerForm.get('name').errors && registerForm.get('name').dirty">
                      <p *ngIf="registerForm.get('name').hasError('required')">Este campo debe ser obligatorio</p>
                    </div>
                </div>
              </div>

              <!-- Estado -->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Estado</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <div class="control">
                    <div class="select is-fullwidth">
                      <select formControlName="estado" >
                          <option value="0" >Selecciona una opción</option>
                          <option *ngFor="let estado of estados" >
                            {{estado}}
                          </option>
                      </select>
                      <!-- <p [hidden]="selectState == '0'">Haz seleccionado la opción # {{ state }}</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Ciudad -->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Ciudad</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                  <div class="control">
                    <div class="select is-fullwidth">
                      <select formControlName="ciudad">
                          <option value="0">Selecciona una opción</option>
                          <option *ngFor="let ciudad of ciudades">
                            {{ciudad}}
                          </option>
                      </select>
                      <!-- <p [hidden]="selectCity == '0'">Haz seleccionado la opción # {{ city }}</p> -->
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Servicio a domcilio -->
            <div class="field is-horizontal">
              <div class="field-label">
                <label class="label">Servicio a domicilio</label>
              </div>
              <div class="field-body">
                <div class="field is-narrow">
                    <label class="switch">
                      <input type="checkbox" name="houseservice" formControlName="houseservice" (click)="setservice()">
                      <div class="slider round"></div>
                    </label>
                </div>
              </div>
            </div>

            <!-- PROMO DAYS -->
            <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">Caducidad: inicio</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input type="date">
                    
                  </p>
                </div>
              </div>
              <div class="field-label is-normal">
                <label class="label">Fin</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input type="date">
                    
                  </p>
                </div>
              </div>
            </div>
            
            <!-- ESPECIFIC PROMO DAY -->
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Promocion valida para el dia</label>
                </div>
                <div class="field-body">
                  <div class="field is-narrow">
                    <div class="control">
                      <div class="select is-fullwidth">
                        <select formControlName="day" >
                            <option value="0" >Selecciona una opción</option>
                            <option *ngFor="let day of days" >
                              {{day}}
                            </option>
                        </select>
                        <!-- <p [hidden]="selectState == '0'">Haz seleccionado la opción # {{ state }}</p> -->
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
          </form>
        </div>
    </div>

    <!-- Image and restriccions column -->
    <div  class="columns">
        <div id="xddd" class="column is-two-fifths is-desktop">
          <div class="round-button">
            
            <image-upload (uploadFinished)="onUploadFinish($event)">
            </image-upload>

          </div>
        </div>
        
        <!-- Restriccions column -->
        <div class="column is-four-fifths- is-four-fifths- is-four-fifths- is-one-fifth- is-one-third-">
            <form [formGroup] ="registerForm" (ngSubmit)="test()" novalidate>
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label">Restricciones</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <textarea class="textarea" placeholder="Menciona algunas restricciones para el consumidor" formControlName="restriccion"></textarea>
                        </div>
                      </div>
                    </div>
                  </div>
            </form>
            
        </div>
    </div>

      <!-- Button done -->
    <div class="field is-horizontal">
      <div class="field-body">
        <div class="field">
          <div class="control">
            <button type="submit" [disabled]="registerForm.invalid" class="button is-primary" routerLink="/registerRestaurant" >
              <span class="icon is-small">
                <i class="fas fa-check"></i>
              </span>
              <span>Crear promo</span>
            </button>
          </div>
        </div>
      </div>  
    </div>
  </div>
</div>
  