<div class="backg">
  <div class="container">
    <h3>Bienvenido Admin</h3>
    <br>
    <div class="columns">
      <div class="colum">
        <div class="opcionesDiv">
          <figure class="image ">
            <img class="is-1by1" src="../../../assets/img/others/CrearNew.jpg"src="../../../assets/img/others/CrearRestaurant.jpg">
          </figure>
          <a class="button is-black is-large is-fullwidth" routerLink="/new-restaurant-for-admin">Nuevo Restaurante</a>
        </div>
      </div>

      <div class="colum">
        <div class="opcionesDiv">
          <figure class="image">
            <img class="is-1by1" src="../../../assets/img/others/CrearNew.jpg">
          </figure>
          <a class="button is-black is-large is-fullwidth" routerLink="/registerRestaurant">Nuevo Propietario</a>
        </div>
      </div>

      <div class="colum">
        <div class="opcionesDiv">
          <figure class="image">
            <img class="is-1by1" src="../../../assets/img/others/Asignar.jpg">
          </figure>
          <a class="button is-black is-large is-fullwidth" routerLink="/assignmentBussinessRestaurant">Asignar</a>
        </div>
      </div>

      <div class="colum">
          <div class="opcionesDiv">
            <figure class="image">
              <img class="is-1by1" src="../../../assets/img/others/createPromo.jpg">
            </figure>
            <a class="button is-black is-large is-fullwidth" routerLink="/listRestaurants">Crear Promoción</a>
          </div>
        </div>
    </div>
  </div>

</div>