<main class="backg">
  <section class="section">
    <div class="container"  id="contenedor-flex">
      <h3>Bienvenido Admin</h3>
      <br>
      <div class="general">
        <div class="opcionesDiv">
          <figure class="image ">
            <img class="is-1by1" src="../../../assets/img/others/CrearRestaurant.jpg">
          </figure>
          <a class="button is-black is-large is-fullwidth" routerLink="/registerBussiness">Nuevo Negocio</a>
        </div>
        <div class="opcionesDiv">
          <figure class="image">
            <img class="is-1by1" src="../../../assets/img/others/CrearNew.jpg">
          </figure>
          <a class="button is-black is-large is-fullwidth"  routerLink="/registerRestaurant">Nuevo Restaurantero</a>
        </div>
        <div class="opcionesDiv">
          <figure class="image is-1by1">
            <img class="is-1by1" src="../../../assets/img/others/Asignar.jpg">
          </figure>
          <a class="button is-black is-large is-fullwidth" routerLink="/">Asignar</a>
        </div>
      </div>
    </div>
  </section>
</main>