.backg {
    width: 100%;
    height: 100%;
    background-size: cover;
    background: linear-gradient(rgba(86, 87, 87, 0.692),rgba(160, 117, 139, 0.774)),url(../../../assets/img/home/viewAdmin.jpg)
}

h3 {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: rgb(185, 3, 3);
    margin: 1%;
}

img {
    margin-left: auto;
    margin-right: auto;
    border-radius: 6px;
}

a {
    padding: 0;
    white-space: pre-wrap;
}

.opcionesDiv {
    margin: 15%;
}