.backg {
    height: 100%;
    margin: 0;
    /*background: linear-gradient(rgba(255, 255, 255, 0.781),rgba(255, 208, 53, 0.815)), url(../../../assets/img/login/fondo2.jpg);*/
    background: rgb(219, 219, 219);
    background-size: cover;
}

h1 {
    font-size: 35pt;
    color: orangered;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif, 'Times New Roman', Times, serif;
}   

.pl-data {
    color: black;
    font-size: 13pt;
}

.pl-data-icons {
    font-size: 20pt;
    color: black;
}
