<div class="columns is-mobile is-centered">
  <div id="col1" class="column is-half is-four-fifths">

    <div class="columns">
      <div id="col2" class="column is-four-fifths ">
        <!-- //metodo para logearse -->
        <form [formGroup]="registerForm" (ngSubmit)="registrar()" novalidate>

          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Nombre del negocio</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="Nombre del negocio" formControlName="name">
                  <span class="icon is-small is-left">
                    <i class="fas fa-briefcase"></i>
                  </span>
                </p>
              </div>
              <div *ngIf="registerForm.get('name').errors && registerForm.get('name').dirty">
                <p *ngIf="registerForm.get('name').hasError('required')">Este campo debe ser obligatorio</p>
              </div>
            </div>
          </div>


          <!-- email -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Email</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="email" formControlName="email">
                  <span class="icon is-small is-left">
                      <i class="fas fa-envelope"></i>
                  </span>
                </p>
              </div>
              <div *ngIf="registerForm.get('name').errors && registerForm.get('name').dirty">
                <p *ngIf="registerForm.get('name').hasError('required')">Este campo debe ser obligatorio</p>
              </div>
            </div>
          </div>
          <!-- facebook -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Facebook</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="facebook" formControlName="facebook">
                  <span class="icon is-small is-left">
                      <i class="fab fa-facebook-square"></i>
                  </span>
                </p>
              </div>
              <div *ngIf="registerForm.get('name').errors && registerForm.get('name').dirty">
                <p *ngIf="registerForm.get('name').hasError('required')">Este campo debe ser obligatorio</p>
              </div>
            </div>
          </div>

            <!-- instagram -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Instagram</label>
            </div>
            <div class="field-body">
              <div class="field">
                <p class="control is-expanded has-icons-left">
                  <input class="input" type="text" placeholder="instagram" formControlName="instagram">
                  <span class="icon is-small is-left">
                      <i class="fab fa-instagram"></i>
                  </span>
                </p>
              </div>
              <div *ngIf="registerForm.get('name').errors && registerForm.get('name').dirty">
                <p *ngIf="registerForm.get('name').hasError('required')">Este campo debe ser obligatorio</p>
              </div>
            </div>
          </div>

          <!-- WhatsApp -->
          <div class="field is-horizontal">
              <div class="field-label is-normal">
                <label class="label">WhatsApp</label>
              </div>
              <div class="field-body">
                <div class="field">
                  <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="whatsapp" formControlName="whatsapp">
                    <span class="icon is-small is-left">
                        <i class="fab fa-whatsapp"></i>
                    </span>
                  </p>
                </div>
                <div *ngIf="registerForm.get('name').errors && registerForm.get('name').dirty">
                  <p *ngIf="registerForm.get('name').hasError('required')">Este campo debe ser obligatorio</p>
                </div>
              </div>
            </div>
          <!-- Numero telefonico -->
          <!-- <div class="field is-horizontal">
            <div class="field-label"></div>
            <div class="field-body">
              <div class="field is-expanded">
                <div class="field has-addons">
                  <p class="control">
                    <a class="button is-static">
                      +52
                    </a>
                  </p>
                  <p class="control is-expanded">
                    <input class="input" type="number" placeholder="Numero telefonico" formControlName="phone">
                  </p>
                </div>
                <p class="help">Do not enter the first zero</p>
                <div *ngIf="registerForm.get('phone').errors && registerForm.get('phone').dirty">
                  <p *ngIf="registerForm.get('phone').hasError('required')">Este campo debe ser obligatorio</p>
                  <p *ngIf="registerForm.get('phone').hasError('minlength')">Ingrese un numero valido, minimo 6 numeros
                  </p>
                </div>
              </div>
            </div>
          </div> -->

          <!-- State -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Estado</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    <!-- <select>
                              <option>Comida rapida</option>
                              <option>Comida china</option>
                              <option>Comida gourmet</option>
                            </select> -->
                    <select formControlName="state">
                      <option value="0">Selecciona una opción</option>
                      <option *ngFor="let state of estados">
                        {{state}}
                      </option>
                    </select>
                    <!-- <p [hidden]="selectState == '0'">Haz seleccionado la opción # {{ state }}</p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- City -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Ciudad</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <div class="control">
                  <div class="select is-fullwidth">
                    <select formControlName="city">
                      <option value="0">Selecciona una opción</option>
                      <option *ngFor="let ciudad of ciudades">
                        {{ciudad}}
                      </option>
                    </select>
                    <!-- <p [hidden]="selectCity == '0'">Haz seleccionado la opción # {{ city }}</p> -->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- homeService -->
          <div class="field is-horizontal">
            <div class="field-label">
              <label class="label">Servicio a domicilio</label>
            </div>
            <div class="field-body">
              <div class="field is-narrow">
                <label class="switch">
                  <input type="checkbox" name="houseservice" formControlName="homeService" (click)="setservice()">
                  <div class="slider round"></div>
                </label>
              </div>
            </div>
          </div>

          <!-- Restriccion -->
          <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Restriccion</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <textarea class="textarea" placeholder="Explain how we can help you" formControlName="restrictions"></textarea>
                </div>
              </div>
            </div>
          </div>
          <!-- Ubicacion -->
          <!-- <div class="field is-horizontal">
            <div class="field-label is-normal">
              <label class="label">Ubicacion</label>
            </div>
            <div class="field-body">
              <div class="field">
                <div class="control">
                  <p class="control is-expanded has-icons-left">
                    <input class="input" type="text" placeholder="Direccion" formControlName="address">
                    <span class="icon is-small is-left">
                      <i class="fa fa-building"></i>
                    </span>
                  </p>
                </div>
              </div>
            </div>
          </div> -->

          <div class="field is-horizontal">

            <div class="field-body" *ngIf="currentUser=='invited'; else isAdmin">
              <div class="field">
                <div class="control">
                  <button type="submit" [disabled]="registerForm.invalid" class="button is-primary"
                    routerLink="/loginRestaurant">
                    <span class="icon is-small">
                      <i class="fas fa-check"></i>
                    </span>
                    <span>Crear negocio para invited</span>
                  </button>
                </div>
              </div>
            </div>
            <ng-template #isAdmin>
              <div class="field">
                <div class="control">
                  <button type="submit" [disabled]="registerForm.invalid" class="button is-primary">
                    <span class="icon is-small">
                      <i class="fas fa-check"></i>
                    </span>
                    <span>Crear negocio Boton para admin</span>
                  </button>
                </div>
              </div>
            </ng-template>
          </div>
          <div class="field is-grouped">
              <div class="control">
                <div #modalcito class="modal " class="modal">
                  <div class="modal-background"></div>
                  <div class="modal-card">
                    <header class="modal-card-head">
                      <p class="modal-card-title">Cuenta Restaurante Creada Con Exito</p>
                      <button class="delete" aria-label="close"></button>
                    </header>
                    <section class="modal-card-body">
                      <h1>Ya puedes empezar a usar tu cuenta!</h1>
                    </section>
                    <footer class="modal-card-foot" >
                      <button type="submit" routerLink="/homeAdmin" class="button is-success">Continuar</button>
                      
                    </footer>
                    
                  </div>
                </div>
              </div>
            </div>
        </form>
      </div>

    </div>

  </div>
</div>