<div class="columns is-mobile is-centered">
    <div id="col1" class="column is-half is-four-fifths">
      
        <div class="columns">
            <div id="col2" class="column is-four-fifths ">
              <form [formGroup] ="registerBussinessForm" (ngSubmit)="test()" novalidate>
                  
                <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label">Nombre del negocio</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <p class="control is-expanded has-icons-left">
                          <input class="input" type="text" placeholder="Nombre del negocio"  formControlName="name">
                          <span class="icon is-small is-left">
                            <i class="fas fa-user"></i>
                          </span>
                        </p>
                      </div>
                      
                    </div>
                  </div>
                  
                  <div class="field is-horizontal">
                    <div class="field-label"></div>
                    <div class="field-body">
                      <div class="field is-expanded">
                        <div class="field has-addons">
                          <p class="control">
                            <a class="button is-static">
                              +44
                            </a>
                          </p>
                          <p class="control is-expanded">
                            <input class="input" type="tel" placeholder="Numero telefonico"  formControlName="phone">
                          </p>
                        </div>
                        <p class="help">Do not enter the first zero</p>
                      </div>
                    </div>
                  </div>
                  
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label">Categoria</label>
                    </div>
                    <div class="field-body">
                      <div class="field is-narrow">
                        <div class="control">
                          <div class="select is-fullwidth">
                            <select>
                              <option>Comida rapida</option>
                              <option>Comida china</option>
                              <option>Comida gourmet</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="field is-horizontal">
                    <div class="field-label">
                      <label class="label">Servicio a domicilio</label>
                    </div>
                    <div class="field-body">
                      <div class="field is-narrow">
                        <div class="control">
                          <label class="radio">
                            <input type="radio" name="check1" >
                            Si
                          </label>
                          <label class="radio">
                            <input type="radio" name="check2" >
                            No
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="field is-horizontal">
                    <div class="field-label is-normal">
                      <label class="label">Ubicacion</label>
                    </div>
                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                            <input class="input" type="text" placeholder="Direccion"  formControlName="address">
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="field is-horizontal">

                    <div class="field-body">
                      <div class="field">
                        <div class="control">
                          <button type="submit" class="button is-primary" routerLink="/registerRestaurant" >
                            <span class="icon is-small">
                              <i class="fas fa-check"></i>
                            </span>
                            <span>Crear cuenta</span>
                          </button>
                        </div>
                      </div>
                    </div>

                  </div>
                
                </form>
            </div>
            <div id="col2" class="column">
                
                <div class="round-button">
                  <div class="round-button-circle">
                    <a href="http://example.com" class="round-button">Button!!</a>
                  </div>
                </div>
                
            </div>
            
        </div>
    </div>
  </div>
